* {
  font-family: "Quicksand", serif;
}

#box_header_id {
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}

.bot_image {
  width: 50px;
  height: 50px;
}

#box_footer_id {
  background-color: #ffffff;
  border-top: 1px solid #dedede;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
}

#chat_list_id {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: calc(100vh - 147px);
  overflow-y: auto;
  padding-inline: 20px;
}

#chat_list_id .chat_item {
  margin: 14px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
}

#chat_list_id .right {
  background-color: #f8f8f8;
  text-align: right;
  margin-left: auto;
  color: var(--bs-indigo);
}

#chat_list_id .left {
  background-color: #f8f8f8;
  text-align: left;
  margin-right: auto;
}
